PORT=5000
JWT_SECRET=autoelite_super_secret_jwt_key_98765
ADMIN_PASSWORD=Goraniane2004

# Database Connection (MariaDB/MySQL)
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=2004
DB_DATABASE=automag
DB_PORT=3308

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
